body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #101726;
  color: #fff;
  min-width: 320px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}




/* Container
===================== */

.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 0;
}

// @media(max-width:920px) {
//   .container {
//     width: 100%;
//   }
// }
